@font-face {
  font-family: 'Young Serif';
  src: url(../fonts/young-serif/YoungSerif-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Oufit';
  src: url(../fonts/outfit/Outfit-VariableFont_wght.ttf);
  font-weight: 400 900;
}

:root{
  --rose-800: #7A284E;
  --rose-50: #FFF7FB;
  --stone-900: #312E2C;
  --stone-600: #5F564D;
  --stone-150: #E3DDD7;
  --stone-100: #F3E5D7;
  --brown-800: #854632;
  --white: #FFFFFF;
  --100: 0.5rem;
  --150: 0.75rem;
  --200: 1rem;
  --250: 1.25rem;
  --300: 1.5rem;
  --350: 1.75rem;
  --400: 2rem;
  --450: 2.25rem;
  --500: 2.5rem;
  --600: 3rem;
  --1600: 8rem;

}

.text-1 {
  font-family: 'Young Serif', sans-serif;
  font-size: var(--450);
  font-weight: 400;
  line-height: 100%;
  color: var(--stone-900);
}

.text-2 {
  font-family: 'Young Serif', sans-serif;
  font-size: var(--350);
  font-weight: 400;
  line-height: 100%;
  color: var(--brown-800);
}

.text-3 {
  font-size: var(--250);
  line-height: 100%;
  font-family: 'Oufit';
  color: var(--rose-800);
}

.text-4 {
  font-family: 'Oufit';
  font-size: var(--200);
  line-height: 150%;
  font-weight: 400;
}

.text-4-bold {
  font-weight: bold;
}

body, h1, h2, h3, p, ul, ol {
  margin: 0;
  
}

body {
  background-color: var(--stone-100);
  color: var(--stone-600);
  letter-spacing: 0;
  text-align: left;
}

.card {
  background-color: var(--white);
  box-sizing: border-box;
  padding-bottom: var(--500);
}

header {
  height: 171px;
}

header img {
  width: 100%;
  height: 100%;
}

.card-body {
  padding: var(--500) var(--400) 0;
}

.recipe h1{
  margin-bottom: var(--300);
}

.preparation-time {
  margin: var(--400) 0;
  padding: var(--300);
  background-color: var(--rose-50);
  border-radius: var(--150);
}

.preparation-time h3{
  margin-bottom: var(--200);
}

ul, ol {
  margin-left: var(--100);
  padding-left: var(--200);
}

li{
  padding-left: var(--200);
}

li:not(li:last-child) {
  margin-bottom: var(--100);
}

.preparation-time li::marker {
  color: var(--rose-800);
  font-size: var(--200);
}

.block h2{
  margin-bottom: var(--300);
}

.block p {
  margin-bottom: var(--300);
}

.block li::marker {
  color: var(--brown-800);
  font-weight: bold;
}

.division {
  width: 100%;
  margin: var(--400) 0;
  border:  0;
  border-top: 1px solid var(--stone-150);
}

table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

td:first-child {
  padding: var(--150) var(--100) var(--150) var(--400);
}

td:last-child {
  padding: var(--150) var(--400) var(--150) var(--100);
}

tr:first-child td {
  padding-top: 0;
}

tr:last-child td{
  padding-bottom: 0;
}

tr:not(tr:last-child) {
  border-bottom: 1px solid var(--stone-150);
}

@media (min-width: 48em) {
  body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: var(--1600) 0;
  }

  .text-1 {
    font-size: var(--500);
  }

  .card {
    width: 38.5rem;
    border-radius: var(--300);
    padding: var(--500);
  }

  header {
    height: 300px;
  }

  header img {
    border-radius: var(--150);
  }

  .card-body {
    padding: var(--500) 0 0;
  }
}

@media (min-width: 90em) {
  .card {
    width: 46rem;
  }
}